html {
    background-color: var(--color-primary-100);
    color: var(--color-primary-900);
}

/* styling for when the app is small */
@media screen and (max-width: 299px) {
    html {
        font-size: 12px;
    }
    body {
        padding: 1rem;
    }
}
