#invalid-screen {
    display: none;
}

@media (max-width: 299px) {
    #invalid-screen {
        display: block;
    }
    #app {
        display: none;
    }
}

#app {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.container {
    min-height: calc(100vh - 4.4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.title-bar {
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.title-bar h1 {
    margin: 0;
    letter-spacing: 1rem;
}

.footer {
    padding: 1rem;
    text-align: center;
}

.footer p {
    margin: 0;
}
