.error-handler {
    position: absolute;
    bottom: calc(-1 * (5.4rem * 5 + 1rem));
    right: 0;
    width: min(100%, 30rem);
    height: min(100%, calc(5.4rem * 5 + 1rem));
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    transition: all 0.5s;
}
.error-handler.count-0 {
    bottom: calc(-1 * (5.4rem * 5));
}
.error-handler.count-1 {
    bottom: calc(-1 * (5.4rem * 4));
}
.error-handler.count-2 {
    bottom: calc(-1 * (5.4rem * 3));
}
.error-handler.count-3 {
    bottom: calc(-1 * (5.4rem * 2));
}
.error-handler.count-4 {
    bottom: calc(-1 * (5.4rem * 1));
}
.error-handler.count-5 {
    bottom: 0;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    80% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

.error-message {
    width: fit-content;
    background-color: var(--color-red-700);
    color: var(--color-primary-100);
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    animation-name: fade-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
